/* Variáveis de cores e fontes */
:root {
  --primary-color: #C9F31D;
  --text-color-black: #000000;
  --text-color-white: #ffffff;
  --bg-color-black: #000000;
  --bg-color-light: #f8f8f8;
  --font-title: 'Roboto', sans-serif;
}

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-title);
  background-color: var(--bg-color-black);
  color: var(--text-color-white);
  line-height: 1.6;
  
}

/* HEADER COM IMAGEM DE FUNDO */
.header-mentoria {
  background-image: url('../assets/img/bg-header.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  padding: 4rem 2rem;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-height: 80vh; 
  color: #ffffff; 
}

/* Estiliza o modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Área interna do modal */
.modal-content {
  
  width: 90%;
  max-width: 100%;
  height: 90%;
  max-height: 100%;
  box-sizing: border-box;
  border-radius: 12px;
  overflow: hidden;
}


/* Oculta barra de rolagem interna */
.modal-content::-webkit-scrollbar {
  display: none;
}
.modal-content {
  scrollbar-width: none; 
}

/* Botão de fechar (X) */
.fechar {
  position: absolute;
  top: 10px;
  right: 16px;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
  z-index: 1001;
  background: transparent;
  border: none;
}

/* Iframe ocupa todo espaço do modal */
.modal-content iframe {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  border: none;
  display: block;
}

/* Estilização do cabeçalho da mentoria */
/* TÍTULO PRINCIPAL */
.header-mentoria h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
  color: var(--primary-color);
}

.header-mentoria p {
  font-size: 1.2rem;
  color: var(--text-color-white);
  max-width: 800px;
  margin: 0 auto;
}

/* MAIN SECTION */
.mentoria-section {
  background-color: var(--bg-color-black);
  color: var(--text-color-black);
  padding: 4rem 2rem;
  text-align: center;
  overflow: hidden;
}

.mentoria-section h2 {
  color: var(--bg-color-light);
  font-size: 2rem;
  margin-bottom: 2rem;
}

.highlight {
  color: var(--primary-color);
  font-weight: bold;
}

/* Cards */
.cards {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 1rem;
  padding-bottom: 1rem;
  scrollbar-width: none;

}

.cards::-webkit-scrollbar {
  display: none;
}

.cards-wrapper {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  min-width: 250px; 
  max-width: 250px;
  background-color: var(--primary-color);
  border-radius: 8px;
  padding: 1rem;
  justify-content: space-between; 
  min-height: 320px; 
  align-items: center; 
  text-align: center; 
}

.card img {
  width: 64px;
  height: 64px;
  margin-bottom: 1rem;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.4);
}

.card img {
  width: 64px;
  height: 64px;
  margin-bottom: 1rem;
}

.card h3 {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}

.card p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

/* Botão */
.btn {
  display: inline-block;
  background-color: var(--bg-color-black);
  color: var(--primary-color);
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  border-radius: 6px;
  font-weight: bold;
  transition: background 0.3s ease;
  align-self: center; /* centraliza o botão */
  margin-top: auto;
}

.btn:hover {
  background-color: grey;
}

/* FOOTER */
.footer-mentoria {
  background: var(--primary-color);
  color: var(--text-color-black);
  text-align: center;
  padding: 2rem;
}

.footer-mentoria p {
  font-size: 30px;
  margin-bottom: 1rem;
}

/* Responsividade extra */
@media (max-width: 768px) {
  .header-mentoria h1 {
    font-size: 2.2rem;
  }

  .mentoria-section h2 {
    font-size: 1.6rem;
  }

  .btn {
    font-size: 0.95rem;
  }

  .card {
    width: 200px;
  }
}